@import "tailwindcss";

@theme {
  --breakpoint-xs: 32rem;

  --color-page-bg: #1a202c;
  --color-emphasize: #e0e6ef;
  --color-text: #a0aec0;

  --color-primary: #2d3748;
  --color-secondary: #4a5568;
  --color-accent: #718096;

  /**Paragraph/text spacing.*/
  --spacing-p: 1rem;
  /**Spacing between sections such as chapters, categories, etc.*/
  --spacing-section: var(--spacing-p) * 2;
}

@layer base {
  ::-webkit-scrollbar-track {
    @apply bg-page-bg;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-accent border-2;
  }
  * {
    scrollbar-color: var(--color-accent) var(--color-page-bg);
  }

  a {
    @apply underline text-blue-500 hover:text-blue-200;
  }

  h1 {
    @apply text-4xl font-extrabold text-emphasize mb-section;
  }

  h2 {
    @apply text-2xl font-bold text-emphasize mb-section;
  }

  h3 {
    @apply text-xl font-semibold text-emphasize mb-section;
  }

  h4 {
    @apply text-lg font-semibold text-text mb-p;
  }

  h5 {
    @apply text-base font-semibold text-text mb-p;
  }

  h6 {
    @apply text-base font-medium text-text mb-p;
  }
}
@layer components {
  /*Any "normal" usage of table for displaying data, rather than layout hacks*/
  .simple-table {
    th {
      @apply text-left text-lg font-bold text-emphasize;
    }
    th,
    td {
      @apply bg-primary px-2 py-1;
      vertical-align: top;

      &:not(:first-child) {
        @apply border-l-2 border-page-bg;
      }
    }
    tr:not(:first-child),
    tbody > tr {
      @apply border-t-2 border-page-bg;
    }
  }
}
