@import 'tailwindcss';

@theme {
  --color-page-bg: #1a202c;
  --color-text: #a0aec0;

  --color-primary: #2d3748;
  --color-secondary: #4a5568;
  --color-accent: #718096;
}

a {
  @apply underline text-blue-600 hover:text-blue-800
}

h1 {
  @apply text-4xl font-extrabold text-primary mb-4;
}

h2 {
  @apply text-3xl font-bold text-primary mb-3;
}

h3 {
  @apply text-2xl font-semibold text-primary mb-2;
}

h4 {
  @apply text-xl font-medium text-secondary mb-2;
}

h5 {
  @apply text-lg font-medium text-secondary mb-1;
}

h6 {
  @apply text-base font-medium text-secondary mb-1;
}
